@font-face {
  font-family: "DM Sans";
  src: url("./font/DMSans-VariableFont_opsz,wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./font/PingFang (Regular).ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Inter";
  src: url("./font/Inter-Italic-VariableFont_opsz,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

